.hero-section {
  background-color: var(--main-dark);
  padding: 0 10px 40px;
  height: calc(100vh - 75px);
}

.hero-container {
  display: grid;
  grid-template-areas:
    'title'
    'text'
    'image'
    'button';
  text-align: center;
  justify-items: center;
}

.hero-title {
  grid-area: title;
  color: var(--white);
  margin-top: 30px;
  margin-bottom: 10px;
}

.hero-text {
  grid-area: text;
  color: var(--white);
  font-size: 16px;
  margin-bottom: 55px;
}

.hero-button {
  grid-area: button;
  margin-top: -49px;
  z-index: 999;
}

.img-container {
  grid-area: image;
  width: 273px;
  height: 273px;
  border-radius: 273px;
  border: 27.893px solid var(--white);
  display: flex;
  justify-content: center;
  position: relative;
}

.hero-img {
  top: -62.893px;
  width: 100%;
  max-width: 280px;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .hero-section {
    height: 100%;
  }

  .img-container {
    width: 340px;
    height: 340px;
    border: 30px solid var(--white);
  }

  .hero-img {
    width: 200px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    max-width: 1440px;
    margin: 0 auto;
    grid-template-columns: 516px auto;
    grid-template-areas:
      'title image'
      'text image'
      'button image';
  }
  .hero-title {
    font-size: 50px;
  }
  .hero-text {
    font-size: 20px;
  }
  .img-container {
    width: 783px;
    height: 783px;
    border: 80px solid var(--white);
  }
  .hero-img {
    width: 650px;
  }
}
