.teachers-section {
  padding-top: 60px;
}

.teachers-title {
  text-align: center;
  margin-bottom: 40px;
}

.teachers-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.teachers-image {
  width: 300px;
}

.teachers-name {
  font-size: 20px;
  line-height: 20px;
}

.swiper-container {
  position: relative;
  overflow: hidden;
  height: 560px;
}

.swiper-wrapper {
  padding-left: 22px;
}

.swiper-slide {
  flex-shrink: 0;
}

#swiper-scrollbar {
  bottom: 0px;
}

.swiper-scrollbar-drag {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

#swiper-next,
#swiper-prev {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-buttons-wrapper {
  position: absolute;
  right: 70px;
  bottom: 100px;
  display: flex;
  flex-direction: row;
  z-index: 20;
}
.swiper-button-prev:after {
  display: none;
}

.swiper-button-next:after {
  display: none;
}

.teacher-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.teacher-more {
  width: auto;
  margin-top: 20px;
  color: var(--red);
  background-color: transparent;
  padding: 0;
  height: 26px;
}

.teachers-name {
  margin-top: 20px;
}

.teachers-description {
  margin-top: 10px;
  line-height: 10px;
}

@media screen and (min-width: 768px) {
  .teachers-title {
    line-height: 40px;
  }

  .teachers-name {
    font-size: 21px;
    line-height: 21px;
  }

  .swiper-container {
    height: 580px;
  }

  .swiper-buttons-wrapper {
    right: 70px;
    bottom: 32px;
  }

  .teachers-description {
    line-height: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .teachers-list {
    gap: 40px;
  }

  .teachers-name {
    font-size: 24px;
  }

  .swiper-buttons-wrapper {
    right: 370px;
    bottom: 16px;
  }

  #swiper-scrollbar {
    width: 360px;
  }
}
