<section class="stats-section section">
  <div class="container">
    <h2 class="visually-hidden">Я заголовок</h2>
    <h3 class="title">
      <span class="school-name">Robo School</span> — учреждение для формирования кадрового
      педагогического резерва в сфере робототехники и программирования
    </h3>
    <ul class="stats-title">
      <li class="stats-list">
        <span class="number">10</span>
        <p class="desc">УМК по различным направлениям по робототехнике</p>
      </li>
      <li class="stats-list">
        <span class="number">20</span>
        <p class="desc">Школ, в которых запущена робототехника</p>
      </li>
      <li class="stats-list">
        <span class="number">100</span>
        <p class="desc">Педагогов прошедших курсы повышения квалификации</p>
      </li>
      <li class="stats-list">
        <span class="number">10&nbsp;000</span>
        <p class="desc">Обученных детей на базе собственных центров</p>
      </li>
    </ul>
  </div>
</section>
