<section class="stats-section section">
  <div class="container">
    <h2 class="visually-hidden">About us</h2>
    <h3 class="title">
      <span class="school-name">Robo School</span> — an institution for building
      a talent pool of teachers in the field of robotics and programming
    </h3>
    <ul class="stats-title">
      <li class="stats-list">
        <span class="number">10</span>
        <p class="desc">Teaching materials in various areas of robotics</p>
      </li>
      <li class="stats-list">
        <span class="number">20</span>
        <p class="desc">Schools where robotics programs have been launched</p>
      </li>
      <li class="stats-list">
        <span class="number">100</span>
        <p class="desc">
          Teachers who have completed professional development courses
        </p>
      </li>
      <li class="stats-list">
        <span class="number">10,000</span>
        <p class="desc">Children trained at our own centers</p>
      </li>
    </ul>
  </div>
</section>
