<section class="section application-section">
  <div class="container aaplication-container">
    <h2 class="application-title">Записаться на курс</h2>
    <p class="application-text">Акция действительна до 10 марта 2022 года</p>
    <form class="application-form">
      <div class="application-form-group">
        <label for="name" class="application-form-label">Имя</label>
        <input
          type="text"
          id="name"
          class="application-form-input"
          placeholder="Введите ваше имя"
        />
      </div>
      <div class="application-form-group">
        <label for="phone" class="application-form-label">Телефон</label>
        <input
          type="tel"
          id="phone"
          class="application-form-input"
          placeholder="Введите ваш телефон"
        />
      </div>
      <div class="application-form-group">
        <label for="email" class="application-form-label">Email</label>
        <input
          type="email"
          id="email"
          class="application-form-input"
          placeholder="Введите ваш email"
        />
      </div>
      <button class="button application-form-button" type="submit">
        Записаться на курс
      </button>
    </form>
  </div>
</section>
