<header class="section header-section">
<div class="header-container">
      <a href="/" class="logo">MOKO.SCHOOL</a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list-item"><a href="#about">О школе</a></li>
        <li class="nav-list-item"><a href="#teachers">Тренеры</a></li>
        <li class="nav-list-item"><a href="#packages">Стоимость</a></li>
      </ul>
    </nav>

    <a href="tel:02713602936" class="phone-number">+49 2713 602936</a>

    <div class="header-buttons-wrapper">
      <a href="tel:02713602936" class="phone-button">
      <svg width="44" height="44">
        <use xlink:href="/src/img/icons.svg#icon-phone"></use>
      </svg>
    </a>
    <button id="burger-button" class="burger-button">
      <svg width="44" height="44">
        <use xlink:href="/src/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
    </div>

    <!-- Burger Menu -->
    <div id="mobile-menu" class="burger-menu">
      <button id="close-menu" class="close-menu-button">
        <svg width="44" height="44">
          <use xlink:href="/src/img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="burger-nav-list">
        <li class="burger-nav-list-item"><a href="#about">О школе</a></li>
        <li class="burger-nav-list-item"><a href="#teachers">Тренеры</a></li>
        <li class="burger-nav-list-item"><a href="#packages">Стоимость</a></li>
      </ul>
    </div>
</div>
</header>
