<header class="section header-section">
  <div class="header-container">
    <a href="/" class="logo">MOKO.SCHOOL</a>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list-item"><a href="#about">About the School</a></li>
        <li class="nav-list-item"><a href="#teachers">Trainers</a></li>
        <li class="nav-list-item"><a href="#packages">Pricing</a></li>
      </ul>
    </nav>

    <a href="tel:+14155552671" class="phone-number">+1 415-555-2671</a>

    <div class="header-buttons-wrapper">
      <a href="tel:+14155552671" class="phone-button">
        <svg width="44" height="44">
          <use xlink:href="/src/img/icons.svg#icon-phone"></use>
        </svg>
      </a>
      <button id="burger-button" class="burger-button">
        <svg width="44" height="44">
          <use xlink:href="/src/img/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </div>

    <!-- Burger Menu -->
    <div id="mobile-menu" class="burger-menu">
      <button id="close-menu" class="close-menu-button">
        <svg class="icon-close" width="44" height="44">
          <use xlink:href="/src/img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="burger-nav-list">
        <li class="burger-nav-list-item">
          <a href="#about">About the School</a>
        </li>
        <li class="burger-nav-list-item"><a href="#teachers">Trainers</a></li>
        <li class="burger-nav-list-item"><a href="#packages">Pricing</a></li>
      </ul>
    </div>
  </div>
</header>
