<header class="header-section section">
  <div class="container header-container">
    <a href="/" class="logo">MOKO.SCHOOL</a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list-item"><a href="#about">О школе</a></li>
        <li class="nav-list-item"><a href="#teachers">Тренеры</a></li>
        <li class="nav-list-item"><a href="#packages">Стоимость</a></li>
      </ul>
    </nav>
    <a href="tel:02713602936" class="phone-number">+49 2713 602936</a>
  </div>
</header>
