<section class="section packages-section">
  <h2 class="packages-title">Choose the package you need</h2>
  <div class="packages-container container">
    <article class="package-card pro">
      <h3 class="package-card-name">&mdash; PRO &mdash;</h3>
      <p class="package-card-price">$229</p>
      <p class="package-card-description">
        Teaching materials for robotics and programming
      </p>
      <a href="#application" class="package-card-button"
        >Submit an application</a
      >
    </article>
    <article class="package-card robo">
      <h3 class="package-card-name">&mdash; ROBO &mdash;</h3>
      <p class="package-card-price">$159</p>
      <p class="package-card-description">Teaching materials for robotics</p>
      <a href="#application" class="package-card-button"
        >Submit an application</a
      >
    </article>
    <article class="package-card prog">
      <h3 class="package-card-name">&mdash; PROG &mdash;</h3>
      <p class="package-card-price">$129</p>
      <p class="package-card-description">Teaching materials for programming</p>
      <a href="#application" class="package-card-button"
        >Submit an application</a
      >
    </article>
  </div>
</section>
