<h2>Выберите нужный пакет</h2>
    <div class="packages">
        <div class="package pro">
          <h3>&mdash; PRO &mdash;</h3>
          <p class="price">20.000 ₽</p>
          <p class="description">УМК по робототехнике и программированию</p>
          <a href="#application">Оставить заявку</a>
        </div>
        <div class="package robo">
          <h3>&mdash; ROBO &mdash;</h3>
          <p class="price">15.000 ₽</p>
          <p class="description">УМК по робототехнике</p>
          <a href="#application">Оставить заявку</a>
        </div>
        <div class="package prog">
          <h3>&mdash; PROG &mdash;</h3>
          <p class="price">10.000 ₽</p>
          <p class="description">УМК по программированию</p>
          <a href="#application">Оставить заявку</a>
        </div>
    </div>

