<section class="section teachers-section">
  <div class="container teachers-container">
    <h2 class="teachers-title">Профессиональные тренеры</h2>
    <ul class="teachers-list">
      <li class="teachers-item">
        <img src="/src/img/pc/teacher1-pc.jpg" alt="Teacher 1" class="teachers-image" />
        <h3 class="teachers-name">Ирина Лайм</h3>
        <p class="teachers-description">
          преподаватель по робототехнике
        </p>
        <button class="teacher-more">Подробнее</button>
      </li>
      <li class="teachers-item">
        <img src="/src/img/pc/teacher2-pc.jpg" alt="Teacher 2" class="teachers-image" />
        <h3 class="teachers-name">Марина Орлова</h3>
        <p class="teachers-description">
          преподаватель по робототехнике
        </p>
        <button class="teacher-more">Подробнее</button>
      </li>
      <li class="teachers-item">
        <img src="/src/img/teacher-3.jpg" alt="Teacher 3" class="teachers-image" />
        <h3 class="teachers-name">Максим Петров</h3>
        <p class="teachers-description">
          преподаватель по программированию
        </p>
        <button class="teacher-more">Подробнее</button>
      </li>
      <li class="teachers-item">
        <img src="/src/img/teacher-4.jpg" alt="Teacher 4" class="teachers-image" />
        <h3 class="teachers-name">Константин Назаров</h3>
        <p class="teachers-description">
          преподаватель по робототехнике
        </p>
        <button class="teacher-more">Подробнее</button>
      </li>
      <li class="teachers-item">
        <img src="/src/img/teacher-5.jpg" alt="Teacher 5" class="teachers-image" />
        <h3 class="teachers-name">Лиза Весенняя</h3>
        <p class="teachers-description">
          преподаватель по программированию
        </p>
        <button class="teacher-more">Подробнее</button>
      </li>
    </ul>
  </div>
</section>
