<section class="section teachers-section">
  <div class="container teachers-container">
    <h2 class="teachers-title">Professional Trainers</h2>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide teachers-item">
          <img
            srcset="
              /src/img/pc/teacher1-pc.jpg    1x,
              /src/img/pc/teacher1-pc@2x.jpg 2x
            "
            src="/src/img/pc/teacher1-pc.jpg"
            alt="Teacher 1"
            class="teachers-image"
          />
          <div class="teacher-content">
            <h3 class="teachers-name">Irina Lime</h3>
            <p class="teachers-description">Robotics Instructor</p>
            <button class="teacher-more learn-more-btn" data-modal="modal-1">
              Learn More
            </button>
          </div>
        </div>
        <div class="swiper-slide teachers-item">
          <img
            srcset="
              /src/img/pc/teacher2-pc.jpg    1x,
              /src/img/pc/teacher2-pc@2x.jpg 2x
            "
            src="/src/img/pc/teacher2-pc.jpg"
            alt="Teacher 2"
            class="teachers-image"
          />
          <div class="teacher-content">
            <h3 class="teachers-name">Marina Orlova</h3>
            <p class="teachers-description">Robotics Instructor</p>
            <button class="teacher-more learn-more-btn" data-modal="modal-1">
              Learn More
            </button>
          </div>
        </div>
        <div class="swiper-slide teachers-item">
          <img
            srcset="
              /src/img/pc/teacher3-pc.jpg    1x,
              /src/img/pc/teacher3-pc@2x.jpg 2x
            "
            src="/src/img/pc/teacher3-pc.jpg"
            alt="Teacher 3"
            class="teachers-image"
          />
          <div class="teacher-content">
            <h3 class="teachers-name">Maxim Petrov</h3>
            <p class="teachers-description">Programming Instructor</p>
            <button class="teacher-more learn-more-btn" data-modal="modal-1">
              Learn More
            </button>
          </div>
        </div>
        <div class="swiper-slide teachers-item">
          <img
            srcset="
              /src/img/pc/teacher4-pc.jpg    1x,
              /src/img/pc/teacher4-pc@2x.jpg 2x
            "
            src="/src/img/pc/teacher4-pc.jpg"
            alt="Teacher 4"
            class="teachers-image"
          />
          <div class="teacher-content">
            <h3 class="teachers-name">Konstantin Nazarov</h3>
            <p class="teachers-description">Robotics Instructor</p>
            <button class="teacher-more learn-more-btn" data-modal="modal-1">
              Learn More
            </button>
          </div>
        </div>
        <div class="swiper-slide teachers-item">
          <img
            srcset="
              /src/img/pc/teacher5-pc.jpg    1x,
              /src/img/pc/teacher5-pc@2x.jpg 2x
            "
            src="/src/img/pc/teacher5-pc.jpg"
            alt="Teacher 5"
            class="teachers-image"
          />
          <div class="teacher-content">
            <h3 class="teachers-name">Liza Vesennyaya</h3>
            <p class="teachers-description">Programming Instructor</p>
            <button class="teacher-more learn-more-btn" data-modal="modal-1">
              Learn More
            </button>
          </div>
        </div>
        <!-- Add more teachers as swiper-slide -->
      </div>

      <!-- Swiper Scrollbar -->
      <div class="swiper-scrollbar" id="swiper-scrollbar"></div>

      <!-- Swiper Navigation -->
      <div class="swiper-buttons-wrapper">
        <div class="swiper-button-prev" id="swiper-prev">
          <svg width="40" height="40">
            <use xlink:href="/src/img/icons.svg#arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next" id="swiper-next">
          <svg width="40" height="40">
            <use xlink:href="/src/img/icons.svg#arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
